.actionBar-action--block {
    cursor: pointer;
}

svg {
    height: 13px;
    margin-bottom: -1px;
    margin-right: 5px;
}

.actionBar-action--block.userButton path {
    d: path("M96 128a128 128 0 01256 0 128 128 0 01-256 0zM135 128a89 89 0 00178 0 89 89 0 00-178 0zM176 304c-97 0-176 79-176 176 0 17 14 32 32 32h384c18 0 32-15 32-32 0-97-79-176-176-176zM40 473c0-73 61-129 136-130h96c75 0 136 57 136 130z");
}

.actionBar-action--block.avatarButton path {
    d: path("M159 200a65 65 0 01130 0 65 65 0 01-130 0zM120 200a104 104 0 00208 0 104 104 0 00-208 0zM52 0c-29 0-52 23-52 52v408c0 29 23 52 52 52h344c29 0 52-23 52-52v-408c0-29-23-52-52-52zM82 473c6-51 50-91 103-91h78c53 0 97 40 104 91zM409 460c0 4-2 7-4 9-8-71-69-126-142-126h-78c-73 0-134 55-142 126-2-2-4-5-4-9v-408c0-7 6-13 13-13h344c7 0 13 6 13 13z");
}

.actionBar-action--block.signatureButton path {
    d: path("M8.01 504.06c-6.25-6.93-8.71-14.64-7.84-22.29 8.2-73.36 41.44-142.49 93.59-194.64l193.57-193.64-22.56-22.56c-2.33-2.33-5.42-3.61-8.71-3.61-3.29 0-6.39 1.28-8.72 3.61l-103.99 103.99c-3.63 3.64-8.46 5.64-13.6 5.64-5.14 0-9.96-2-13.6-5.64-3.63-3.64-5.63-8.46-5.63-13.6 0-5.14 2-9.97 5.64-13.6l103.94-103.97c9.57-9.58 22.33-14.86 35.93-14.86 13.58 0 26.33 5.27 35.9 14.84l.03.03 22.55 22.55 46.86-46.79c12.56-12.59 29.29-19.52 47.1-19.52 17.82 0 34.56 6.93 47.14 19.51l37 37c25.89 25.98 25.86 68.25-.06 94.22l-267.68 267.58c-52.01 52.12-121.15 85.36-194.69 93.59-10.17.16-17.07-2.74-22.16-7.83zM314.46 120.75l-193.5 193.6c-42.39 42.35-70.9 98.05-80.61 157.29 59.5-9.9 115.17-38.38 157.2-80.51l193.66-193.62-76.75-76.75z");
}

.theBlocker-hide {
    display: none!important;
}

.theBlocker-show {
    display: block !important;
}
