/* Heavily inspired by Raymond Hill's uBlock Origin */
:root {
    --blue-5: 170, 242, 255;
    --blue-10: 128, 235, 255;
    --blue-20: 0, 221, 255;
    --blue-30: 0, 179, 244;
    --blue-40: 0, 144, 237;
    --blue-50: 0, 96, 223;
    --blue-60: 2, 80, 187;
    --blue-70: 5, 64, 150;
    --blue-80: 7, 48, 114;
    --blue-90: 9, 32, 77;
    --gray-5: 16, 16, 22;
    --gray-10: 27, 27, 35;
    --gray-15: 37, 37, 47;
    --gray-20: 47, 47, 59;
    --gray-25: 58, 58, 72;
    --gray-30: 69, 69, 85;
    --gray-35: 81, 81, 98;
    --gray-40: 93, 93, 110;
    --gray-45: 105, 105, 121;
    --gray-50: 118, 118, 133;
    --gray-55: 131, 131, 145;
    --gray-60: 144, 144, 156;
    --gray-65: 157, 157, 168;
    --gray-70: 170, 170, 180;
    --gray-75: 184, 184, 192;
    --gray-80: 198, 198, 204;
    --gray-85: 212, 212, 217;
    --gray-90: 226, 226, 229;
    --gray-95: 240, 240, 242;

    --magic-blue: rgba(0, 116, 255, 0.8);
    --magic-gray: rgba(163, 163, 163, 0.6);
}
