/* Heavily inspired by Raymond Hill's uBlock Origin */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.2;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
}

button {
    align-items: center;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 500;
    margin: 0px 8px;
    padding: 8px 16px;
}

button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

svg {
    height: 20px;
    margin-right: 5px;
}

#buttonText {
    position: relative;
    top: -1px;
}

#editors {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    width: 100%;
}

.editorWrapper {
    display: grid;
    flex: 1;
    height: 100%;
    max-width: 30%;
    min-width: 30%;
}

.editorTitle {
    font-family: "Segoe UI";
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.CodeMirror,
.codeMirrorContainer {
    flex-grow: 1;
    font-size: 16px;
    height: calc(100vh - 100px);
    word-wrap: normal;
}

.codeMirrorContainer.codeMirrorBreakAll .CodeMirror-wrap pre {
    word-break: break-all;
}

.CodeMirror-lines {
    padding-top: 0px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(var(--gray-10));
    }

    button {
        background-color: rgb(var(--blue-30));
        color: rgb(var(--gray-5));
    }

    button[disabled] {
        background-color: rgb(var(--gray-30));
        color: rgb(var(--gray-95));
    }

    button:hover {
        background-color: rgb(var(--blue-30), 0.8);
    }

    svg {
        fill: rgb(var(--gray-5));
    }

    button[disabled]>svg {
        fill: rgb(var(--gray-95));
    }

    .editorTitle {
        color: rgb(var(--blue-30));
    }

    .CodeMirror,
    .codeMirrorContainer {
        background-color: rgb(var(--gray-5));
    }

    .cm-theme-override .cm-s-default .CodeMirror-line {
        color: rgb(var(--gray-90));
    }

    .CodeMirror-linenumber {
        color: rgba(var(--gray-90), 0.6);
    }

    .CodeMirror-gutters {
        background-color: rgb(var(--gray-20));
        border-color: rgb(var(--gray-10));
    }

    .CodeMirror-activeline-background {
        background-color: rgb(var(--gray-20));
    }

    .CodeMirror-cursor {
        border-left-color: rgb(var(--gray-95));
    }

    .CodeMirror-focused .CodeMirror-selected {
        /* background-color: rgb(var(--blue-60)); */
        background-color: rgba(var(--magic-blue), 0.8);
    }

    .CodeMirror-selected {
        /* background-color: rgba(var(--gray-40), 0.8); */
        background-color: rgba(var(--magic-gray), 0.5);
    }
}

@media (prefers-color-scheme: light) {
    button {
        background-color: rgb(var(--blue-60));
        color: rgb(var(--gray-95));
    }

    button[disabled] {
        background-color: rgb(var(--gray-80));
        color: rgb(var(--gray-5));
    }

    button:hover {
        background-color: rgb(var(--blue-50));
    }

    svg {
        fill: rgb(var(--gray-95));
    }

    button[disabled]>svg {
        fill: rgb(var(--gray-5));
    }

    .editorWrapper>div {
        border: 1px solid black;
    }
}
